/build
/classes
*.jar
*.class
*~
*/web-app/gwt
*/web-app/WEB-INF/classes
target
.gwt
gwt-unitCache
www-test
/war/ds2cc
/war/tsvimporter
/war/ds2cceditor
/war/WEB-INF/deploy
/war/WEB-INF/appengine-generated
/war/WEB-INF/classes
/test-classes
